<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>
  <body>

      <h1>Welcome back, {{ user.name }} </h1>

    <p>Your Trip Schedules:</p>
    <table border=1>
      <tr>
        <th>Destination</th>
        <th>Travel Start Date</th>
        <th>Travel End Date</th>
        <th>Plan</th>
      </tr>

      <tr>
        <td>destination</td>
        <td>travel start</td>
        <td>travel end</td>
        <td>plan</td>
      </tr>  
    </table>

</table>
    <p>Other User's Travel Plans:</p>
    <table border=1>
      <tr>
        <th>Name</th>
        <th>Destination</th>
        <th>Travel Start Date</th>
        <th>Travel End Date</th>
        <th>Do You Want To Join?</th>
      </tr>
      <tr>
          <td>name</td>
          <td>destination</td>
          <td>travel start</td>
          <td>travel end</td>
          <td>join</td>
      </tr>
    </table>
    <a href="">Add Travel Plan</a>
    <a href="">Log Out</a>
  </body>
</html>