#wrapper {
    background-color: #f6f6f6;
    width: 1000px;
    height: 1000px;
}
#header h1, h2 {
    display: inline-block;
}
#header h1 {
    padding: 0px 0px 0px 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#header h2 {
    float: right;
    padding: 10px 30px 0px 0px;
    font-family: sans-serif;
}
#long img {
    display: inline;
    border: 5px solid silver;
    margin: 10px;
    position: relative;
    left: -17px;
}
#long {
    text-align: center;
    padding: 10px 10px 8px 10px;
}
#bio {
    height: 275px;
    width: 500px;
    display: inline-block;
}
#bio h3 {
    background: lightgray;
    height: 40px;
    text-align: left;
    padding: 20px 0px 0px 20px;
    color: #ffffff;
    width: 486px;
    position: relative;
    top: -10px;
}
#bio p {
    width: 490px;
    text-align: left;
    background: linear-gradient(to right, #f7f6f6, #cfc0cd);
    padding: 17px 8px 17px 8px;
    position: relative;
    top: -30px;
}
#bio p span {
    text-decoration: underline;
}
#main {
    background: radial-gradient(#6f5963 35%, #1c0b0e);
    width: 1000px;
    height: 1005px;
}
#tall {
    text-align: center;
    margin: 0px;
}
.project {
    width: 300px;
    height: 656px;
    background: #efeff5;
    display: inline-block;
    margin: 10px;
    float: center;
}
.project h3 {
    background-color: lightgray;
    height: 50px;
    margin-top: 0px;
    text-align: left;
    color: white;
}
.project img {
    width: 300px;
    margin-top: -20px;
}
.project p {
    width: 260px;
    text-align: justify;
    margin: auto;
    padding-top: 5px;
    height: 190px;
}
.project h4 {
    background-color: lightgray;
    width: 300px;
    text-align: justify;
    padding-top: 10px;
    height:30px;
    color: white;
}
.row img {
    display: inline-block;
    height: 40px;
    width: 40px;
    padding: 13px 5px 0px 5px;
}
.row-bottom {
    margin-left:18px;
}
.row-bottom img {
    display: inline-block;
    height: 40px;
    width: 40px;
    padding: 30px 10px 0px 5px;
    float: left;
}

#contactme {
    text-align: center;
    margin-bottom: 5px;
    width: auto;
}
#social {
    width: px;
}
#footer img {
    display: inline;
    margin: auto;
    position: relative;
    top: 10px;
}
#social p {
    display: inline;
    text-decoration: underline;
    font-style: italic;
    margin-right: 10px;
}
button {
    width: auto;
    height: 30px;
    background-color: darkgreen;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    padding: 6px;
    box-shadow: 2px 2px 5px black;
    margin-top: 17px;
    text-align: center;
}
.do {
    margin-right: 100px;
}
