<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'surveys/css/style.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <fieldset>
        <form action="/process" method="POST">
            {% csrf_token %}
            <p><label class="field">Your Name: </label><input type="text" name="name" class="input"></p>
            <p><label class="field">Dojo Location: </label><select name="location" class="input">
                <option value="Tulsa">Tulsa</option>
                <option value="Dallas">Dallas</option>
                <option value="Chicago">Chicago</option>
                <option value="Seattle">Seattle</option>
            </select></p>
            <p><label>Favorite Language: </label><select name="language">
                <option value="Javascript">Javascript</option>
                <option value="Python">Python</option>
                <option value="Ruby">Ruby</option>
                <option value="PHP">PHP</option>
            </select></p>
            <p><label>Comment (optional): </label></p>
            <p><textarea name="comment" cols="35" rows="6"></textarea></p>
            <p><input type="submit" value="Submit" align="right"></p>
        </form>
    </fieldset>
</body>
</html>