<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What kind of zoomer?</title>
</head>
<body>
    <div id="wrapper">
        <form action="/action_page.php">
            Make:<br>
            <input type="text" name="firstname" value="Dodge">
            <br><br>
            Model:<br>
            <input type="text" name="lastname" value="Colt">
            <br><br>
            Year:<br>
            <input type="text" name="firstname" value="1994">
            <br><br>
            Color:<br>
            <input type="text" name="firstname" value="Sky Blue">
            <br><br>
            <input type="submit" value="Vroom!!">
        </form> 
    </div>
</body>
</html>