<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>

<body>
    <div class="container">
        <h1>Quoting Dojo</h1>"
        <form action="/quotes" method="post">
            <p>
                Name:
                <input type="text" name="name">
            </p>
            <p>
                Quote:
                <textarea name="quote"></textarea>
            </p>
            <input type='submit'>
        </form>

        <a href="/quotes">All Quotes</a>
    </div>

</body>

</html>