<form>    
    <p>What up?</p>
    <label>
        First and Last Name:<input type="text" name="name">
    </label>
    <p>How awesome are you?</p>
    <label>
       Pretty awesome.<input type="radio" name="awesome" value="awesome"> 
    </label>
    <label>
       Babies love me.<input type="radio" name="awesome" value="baby">
    </label>
    <label>
        Amaze<input type="radio" name="awesome" value="amaze">
     </label>
    <p>What's your most used phrase?</p>
    <label>
        Senpai notice me..<input type="phrase" name="phrase">
    </label>
    <input type="submit" value="Groovy">
</form>

<a href="localhost:5000/index">I want to go home.</a>